<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Index")" role="button" class="btn-mvc-green">管理板块</a>
        <a href="@Url.Action("CreateCategory")" role="button" class="btn-mvc-green">新建一个新的板块</a>
    </div>
</div>