@{
    ViewBag.Title = "导入/导出成员";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h5>导出用户</h5>
            </div>
            <div class="panel-body">
                <p>把所有用户导出为CSV格式</p>
                @using (Html.BeginForm("ExportUsers", "ImportExport"))
                {
                    <div class="submit-holder">
                        <button type="submit" class="btn-mvc-green">导出</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h5>导入用户</h5>
            </div>
            <div class="panel-content">
                <p>导入用户，可以从导出功能中获得模版</p>
                @using (Html.BeginForm("ImportUsers", "ImportExport", FormMethod.Post, new { enctype = "multipart/form-data", id = "ImportForm", name = "ImportForm", target = "UploadTarget" }))
                {
                    <div class="submit-holder">
                        <p><input type="file" id="file" name="file" /></p>
                        <p><input type="submit" class="btn-mvc-green" value="导入" /></p>
                    </div>
                }

                @*Results of any import are displayed here:*@
                <div id="ImportResults"></div>

                @*This frame is displayed off the page and gets the results of the import (ie the success or fail messages) *@
                <iframe id="UploadTarget" name="UploadTarget" onload="Import_Complete();" style="position: absolute; left: -999em; top: -999em;"></iframe>
            </div>
        </div>
    </div>
</div>